<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shared/layout">
<head>
<title>Gender Treatment</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>Gender Treatment</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Add Genre</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<div class="box p-4">
			<div class="box-header with-border">
				<h3 class="box-title">Add/Edit Form</h3>
				<div class="box-tools pull-right">
					<a href="/film" type="button" class="btn btn-box-tool"><i
						class="fa fa-list-ul"></i></a>
				</div>
			</div>
			<form data-toggle="validator" role="form" th:object="${genre}"
				th:action="@{/parametre/genre/save}" method="post">
				<div class="box-body">
					<input type="hidden" th:field="*{id}" />

					<div class="form-group">
						<label for="libelle">Wording</label>
						<input type="text"
							required="true" class="form-control" th:field="*{libelle}"
							id="libelle" />
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Register</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>