<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Clients</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Clients</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Clients</li>
</ol>
</section>
<div layout:fragment="content">
<div class="box">
	
	<div class="box-body no-padding">
		<p th:text="${aCustomer.email}"></p>
    <p>wuifhuwehfieur</p>
    <h3 class="box-title">Listssss</h3>
    kujrhgkeurhe
	</div>
	
</div>
   
</div>
</body>
</html>
