<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shared/layout" >
<head>
		<script type="text/javascript" src="/app/SalleController.js" ></script>	

</head>
<body>

	<section layout:fragment="header">
		<h1>Salles</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Salles</li>
		</ol>
	</section>
	<div layout:fragment="content">
    <div class="box p-4">
        <div class="box-header with-border">
            <h3 class="box-title">Movies List</h3>
            <div class="box-tools pull-right">
                <a href="/salle/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Capacity</th>
                </tr>
                <tr th:each="salle : ${listSalles}">
                    <td th:text="${salle.id}"></td>
                    <td th:text="${salle.numero}"></td>
                    <td th:text="${salle.capacite}"></td>
                    <td>
                        <a th:href="${'/salle/edit/' + salle.id}"><i class="fa fa-edit"></i></a> |
                        <a th:href="${'/salle/delete/' + salle.id}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
	</div>
	
		
</body>

</html>
