<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shared/layout">
<head>
<title>Details Actor - Director</title>
<link rel="stylesheet" th:href="@{/css/personnedetail.css}">
</head>
<body>
	<section layout:fragment="header">
		<h1>Details Actor - Director</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active" th:text="${ 'Détails '+ personne.typePersonne}"></li>
		</ol>
	</section>
	<section class="content">
		<div layout:fragment="content">
			<div class="content-wrapper p-4" style="margin-left: 10px;">
				<div class="row">
					<div class="col-md-3">

						<div class="card card-primary card-outline">
							<div class="card-body box-profile">
								<div class="text-center">
									<img class="profile-user-img img-fluid img-circle"
										th:src="@{${personne.photo}}" alt="Actor/Director profile picture" />
								</div>
								<h3 class="profile-username text-center"
									th:text="${personne.nom+' '+personne.prenom}"></h3>
								<p class="text-muted text-center"
									th:text="${personne.typePersonne}"></p>
								<p class="text-muted text-center"
									th:text="${'Nationality : '+personne.nationalite.libelle}">
								</p>
								<ul class="list-group list-group-unbordered">
									<li class="list-group-item"><b>Number of Movies : </b> <a
										class="pull-right"
										th:text="#{strings.equals(${personne.typePersonne},'ACTEUR')} ? ${#lists.size(personne.films)} : ${#lists.size(personne.filmsRealises)}"></a>
									</li>
									<li class="list-group-item"><b>Birthday : </b> <a
										class="pull-right"
										th:text="${#dates.format(personne.dateNaissance, 'dd/MM/yyyy')}"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- class md-3 -->
					<div class="col-md-9">
						<div class="nav-tabs-custom">
							<div class="card card-default">
								<div class="card-header">
									<h3 class="card-title">Movies</h3>
								</div>
								<div class="card-body">
									<div class="tab-pane active" id="actors">
										<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
											id="actors">
											<div class="card-body col shadow-sm"
												th:each="movie :${movies}">
												<div class="card-body box-profile">
													<div class="text-center">
														<img class="card-img-top customStyleImageCard"
															th:src="${movie.cover}"
															alt="Actor/Director profile picture">
													</div>
													<h3 class="profile-username text-center">[[${movie.titre}]]</h3>
													<p class="text-muted text-center">
														<b>[[${movie.genre.libelle}]]</b>
													</p>
													<ul class="list-group list-group-unbordered mb-3">
														<li class="list-group-item"><b>Release Year : </b> <a
															class="float-right">[[${movie.annee}]]</a></li>
													</ul>
													<ul class="list-group list-group-unbordered mb-3">
														<li class="list-group-item"><b>Time : </b> <a
															class="float-right">[[${movie.duree}]] mins</a></li>
													</ul>
													<ul
														th:if="${#strings.toString(personne.TypePersonne) == 'ACTEUR'}"
														class="list-group list-group-unbordered mb-3">
														<li class="list-group-item"><a
															th:href="${'/personne/'+personne.id+'/delete/film/'+movie.id}">Delete</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer"></div>
							</div>
						</div>

					</div>

				</div>
			</div>
			<!-- class row -->
		</div>
	</section>
	<!-- Section content -->
</body>
</html>
