<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a class="brand-link" href="/"> <img alt="AdminLTE Logo"
		class="brand-image img-circle elevation-3"
		src="/webjars/AdminLTE/3.2.0/dist/img/AdminLTELogo.png"
		style="opacity: .8"> <span class="brand-text font-weight-light">Aflami
			- افلامي</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img alt="User Image" class="img-circle elevation-2"
					src="/webjars/AdminLTE/3.2.0/dist/img/user2-160x160.jpg">
			</div>
			<div class="info">
				<a class="d-block" href="#">test</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-accordion="false" data-widget="treeview" role="menu">
				<!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

				<li class="nav-item"><a class="nav-link" href="/"> <i
						class="nav-icon fas fa-th"></i>
						<p>Dashboard</p>
				</a></li>

				<li class="nav-item has-treeview"><a class="nav-link" href="#">
						<i class="fa fa-address-card" aria-hidden="true"></i>
						<p>
							Registration <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a class="nav-link"
							href="/customers/add"> <i class="far fa-circle nav-icon"></i>
								<p>Add Customer</p>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/customers/">
								<i class="far fa-circle nav-icon"></i>
								<p>List Customers</p>
						</a></li>
					</ul></li>
				<li class="nav-item has-treeview"><a class="nav-link" href="#">
						<i class="fa fa-user" aria-hidden="true"></i>
						<p>
							Actor/Director <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a class="nav-link" href="/personne/add">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Actor/Director</p>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/personne">
								<i class="far fa-circle nav-icon"></i>
								<p>List Actors/Directors</p>
						</a></li>
					</ul></li>
				<li class="nav-item has-treeview"><a class="nav-link" href="#">
						<i class="fa fa-film" aria-hidden="true"></i>
						<p>
							Movie <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a class="nav-link" href="/film/add">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Movie</p>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/film"> <i
								class="far fa-circle nav-icon"></i>
								<p>List Movies</p>
						</a></li>
					</ul></li>
				<li class="nav-item has-treeview"><a class="nav-link" href="#">
						<i class="fa fa-home" aria-hidden="true"></i>
						<p>
							Rooms <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a class="nav-link" href="/salle/add">
								<i class="far fa-circle nav-icon"></i>
								<p>Add room</p>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/salle"> <i
								class="far fa-circle nav-icon"></i>
								<p>List rooms</p>
						</a></li>
					</ul></li>
				<li class="nav-item has-treeview"><a class="nav-link" href="/seance">
						<i class="fa fa-home" aria-hidden="true"></i>
						<p>
							Seance <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a class="nav-link" href="/seance/add">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Seance</p>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/seance"> <i
								class="far fa-circle nav-icon"></i>
								<p>List Seances</p>
						</a></li>
					</ul></li>
				<li class="nav-item has-treeview"><a class="nav-link" href="#">
						<i class="fa fa-cog" aria-hidden="true"></i>
						<p>
							Settings <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><i class="far fa-circle nav-icon"></i>
						<li class="nav-item has-treeview"><a class="nav-link"
							href="#"> <i class="nav-icon fas fa-copy"></i>
								<p>
									Nationality <i class="right fas fa-angle-left"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"
									href="/nationalite/add"> <i class="far fa-circle nav-icon"></i>
										<p>Add Nationality</p>
								</a></li>
								<li class="nav-item"><a class="nav-link"
									href="/nationalite"> <i class="far fa-circle nav-icon"></i>
										<p>List Nationalities</p>
								</a></li>
							</ul></li></li>
				<li class="nav-item"><i class="far fa-circle nav-icon"></i>
				<li class="nav-item has-treeview"><a class="nav-link" href="#">
						<i class="nav-icon fas fa-copy"></i>
						<p>
							Genre <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a class="nav-link" href="/genre/add">
								<i class="far fa-circle nav-icon"></i>
								<p>Add Genre</p>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/genre">
								<i class="far fa-circle nav-icon"></i>
								<p>List Genre</p>
						</a></li>
					</ul></li>
				</li>
			</ul>
			</li>
			<li class="nav-item"><a class="nav-link" href="/contact"> <i
					class="fa fa-mobile" aria-hidden="true"></i>
					<p>Contact</p>
			</a></li>

			<li class="nav-item"><a class="nav-link" href="/about"> <i
					class="fa fa-exclamation-circle" aria-hidden="true"></i>
					<p>About</p>
			</a></li>

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
