<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shared/layout">
<head>
<title>Add Movies</title>
<link rel="stylesheet" th:href="@{/css/select2.min.css}">
<link rel="stylesheet" th:href="@{/css/select2-bootstrap4.min.css}">
</head>
<body>
	<section layout:fragment="header">
		<h1>Add a Movie</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Add a Movie</li>
		</ol>
	</section>
	<div layout:fragment="content" class="p-5">
		<div class="card card-default">
			<div class="card-header">
				<h3 class="card-title">Add - Edit Movie</h3>
			</div>
			<div class="card-body">
				<form data-toggle="validator" role="form" th:object="${film}"
					  th:action="@{/film/save}" method="post"
					  enctype="multipart/form-data">
					
					<input type="hidden" th:field="*{id}" />
					<div class="form-group">
						<label for="Title">Title</label> <input type="text"
							required="true" class="form-control" th:field="*{titre}"
							id="Title" />
					</div>
					<div class="form-group">
						<label for="Duration">Duration(Minutes)</label> <input
							type="number" required="true" class="form-control"
							th:field="*{duree}" id="Duration" />
					</div>
					<div class="form-group">
						<label for="Year">Year</label> <input type="number"
							required="true" class="form-control" th:field="*{annee}"
							id="Year" />
					</div>
					<div class="form-group">
						<label for="genre">Genre</label> <select class="form-control"
							th:field="*{genre}">
							<option th:each="g:${listegenres}" th:value="${g.id}"
								th:text="${g.libelle}" />
						</select>
					</div>
					<div class="form-group">
						<label for="nationalite">Nationalite</label> <select
							class="form-control" th:field="*{nationalite}">
							<option th:each="n:${listeNationalites}" th:value="${n.id}"
								th:text="${n.libelle}" />
						</select>
					</div>
					<div class="form-group">
						<label for="realisateur">Realisateur</label> <select
							class="form-control" th:field="*{realisateur}">
							<option th:each="p:${listerealisateurs}" th:value="${p.id}"
								th:text="${p.nom}+' '+${p.prenom}" />
						</select>
					</div>
					<div class="form-group">
						<label>Actor</label> <select id="actor" name="acteur" th:field="*{acteurs}"
							class="select2bs4 select2-hidden-accessible" multiple=""
							data-placeholder="Select an Actor" style="width: 100%;"
							data-select2-id="23" tabindex="-1" aria-hidden="true">
							<option th:each="act : ${listActeurs}" th:value="${{act}}"
								th:text="${act.prenom +' '+act.nom}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="photo">Picture</label> <input type="file"
							class="form-control" name="file" id="photo" />
						<div th:if="${film.cover == null}">Aucune photo...</div>
						<img th:if="${film.cover != null}"
							class="profile-user-img img-responsive img-circle"
							th:src="@{*{cover}}" alt="Actor/Director profile picture">
					</div>
					<div class="form-group">
						<label for="photo">Albums</label> <input type="file"
							class="form-control" name="album" id="photo" multiple />
						<div th:if="${film.cover == null}">Aucune photo...</div>
						<img th:if="${film.cover != null}"
							class="profile-user-img img-responsive img-circle"
							th:src="@{*{cover}}" alt="Actor/Director profile picture">
					</div>
					<button class="btn btn-primary" type="submit">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<script th:src="@{/js/select2.full.min.js}"></script>
<script th:src="@{/js/select.js}"></script>


